.App{
    font-family: monospace;
}

/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.navbar .logo img{
    width: 50px;
}

.navbar .profile img{
    width: 30px;
}

/* SIDEBAR */
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 50px;
}

.sidebar .show .sidebarItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    gap: 10px;
}

.sidebar .sidebarItem img{
    width: 30px;
}

.sidebar .sidebarItem p{
    color: rgb(0, 0, 0);
}

.dashboard{
    display: flex;
}

.post{
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    max-width: 1000px;
    padding: 30px 50px;
    margin: 20px 30px;
    background-color: rgb(255, 255, 255);
}

.post .postItem{
    color: rgb(128, 128, 128);
    font-family: monospace;
    font-size: large;
}

.post .content input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: rgb(128, 128, 128);
    outline: none;
    border: 1px solid rgb(128, 128, 128);
    padding-left: 20px;
}

.post .content .postContent textarea{
    resize: none;
    width: 95%;
    border-radius: 20px;
    padding: 30px 20px;
    height: 100px;
    outline: none;
    border: 1px solid rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    margin-top: 20px;
}

.post .menu .item .file img{
    width: 100px;
    margin-top: 20px;
}

.post .menu .item .life{
    position: relative;
}

.post button{
    position: relative;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: rgb(65, 175, 167);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* LOGIN ADMIN */
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(65, 175, 167);
}

.auth h1{
    color: rgb(255, 255, 255);
    font-size: xxx-large;
    display: flex;
    margin-top: -50px;
    top: 10%;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

.auth form{
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 1px rgb(0, 0, 0, 0.5);
}

.auth form input{
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.auth form .inputPassword{
    position: relative;
}

.auth form .inputPassword input{
    width: 90%;
}

.auth form button{
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s;
}

.auth form p{
    position: absolute;
    top: 61%;
    transform: translateX(20%);
    color: rgb(255, 0, 0);
}

.auth form h4{
    display: flex;
    justify-content: center;
    font-weight: lighter;
    color: rgb(255, 0, 0);
    margin: 0;
    padding: 0;
}

button[disabled=disabled], button:disabled{
    cursor: not-allowed;
}

.active-button{
    background-color: rgb(65, 175, 167);
    cursor: pointer;
}

span{
    font-family: monospace;
    text-align: center;
}
.showPassword{
    position: absolute;
    top: 30%;
    left: 90%;
    cursor: pointer;
}




