.App{
    font-family: monospace;
}

/* DASHBOARD */

.dashboard{
    display: flex;
}

.dashboard .routes{
    border-radius: 30px;
    width: 100%;
    max-width: 1000px;
    padding: 30px 50px;
    margin: 20px 30px;
    background-color: rgb(255, 255, 255);
}

/* NAVBAR */
.navbar{
    padding: 5px 200px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.navbar .container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.navbar .container .profile{
    display: flex;
    align-items: center;
}

.navbar .logo img{
    width: 50px;
}

.navbar .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

.navbar .profile .user{
    display: flex;
}

.navbar .profile details > summary {
    list-style-type: none; 
}

.navbar .profile details > summary > img {
    display: inline-block; 
}

.navbar .profile .menu{
    background-color: rgb(255, 255, 255);
    height: 130px;
    width: 100px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
    margin: 20px 0 0 -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 10000;
    border-radius: 10px;
    position: absolute;
    flex-direction: column;
    gap: 30px;
}

.navbar .profile .menu span{
    color: rgb(65, 175, 167);
    font-size: large;
}  

.navbar .profile .button{
    width: 65px;
    height: 25px;
    border-radius: 30px;
    color: rgb(65, 175, 167);
    border: 1px solid rgb(65, 175, 167);
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbar .profile .button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(65, 175, 167);
}

/* SIDEBAR */
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 50px;
}

.sidebar .show .sidebarItem{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 30px 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    gap: 20px;
}

.sidebar .show .sidebarItem i{
    color: rgb(0, 0, 0);
}

.sidebar .sidebarItem img{
    width: 30px;
}

.sidebar .sidebarItem p{
    color: rgb(0, 0, 0);
}

/* POST */

.post .content{
    padding: 20px 0px;
}

.post .content input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: rgb(128, 128, 128);
    outline: none;
    border: 1px solid rgb(128, 128, 128);
    padding: 10px 0 10px 20px;
    margin-top: 20px;
}

.post .content .postContent .reactQuill{
    width: 100%;
    padding: 10px 0px;
    height: 100px;
    outline: none;
    color: rgb(128, 128, 128);
    margin-top: 20px;
}

.post .menu .item .file img{
    width: 100px;
    margin-top: 80px;
    cursor: pointer;
}

.post button{
    position: relative;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: rgb(65, 175, 167);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* LOGIN ADMIN */
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(65, 175, 167);
}

.auth h1{
    color: rgb(255, 255, 255);
    font-size: xxx-large;
    display: flex;
    margin-top: -50px;
    top: 10%;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

.auth form{
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 1px rgb(0, 0, 0, 0.5);
}

.auth form input{
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.auth form .inputPassword{
    position: relative;
}

.auth form .inputPassword input{
    width: 90%;
}

.auth form button{
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s;
}

.auth form p{
    position: absolute;
    top: 61%;
    transform: translateX(20%);
    color: rgb(255, 0, 0);
}

.auth form h4{
    display: flex;
    justify-content: center;
    font-weight: lighter;
    color: rgb(255, 0, 0);
    margin: 0;
    padding: 0;
}

button[disabled=disabled], button:disabled{
    cursor: not-allowed;
}

.active-button{
    background-color: rgb(65, 175, 167);
    cursor: pointer;
}

span{
    font-family: monospace;
    text-align: center;
}
.showPassword{
    position: absolute;
    top: 30%;
    left: 90%;
    cursor: pointer;
}

/* ARTICLE MANAGEMENT */
.allpost{
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    padding: 30px 50px;
    margin: 20px 30px;
}

.allpost .post{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.allpost .post .content{
    display: flex;
    justify-content: start;
    gap: 30px;
}

.allpost .post .content .thumbnail{
    padding: 10px 0px;
    margin-left: -50px;
}

.allpost .post .content .thumbnail img{
    width: 180px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 3px 1px 10px 2px rgb(0, 0, 0, 0.5);
}

.allpost .post .content .des .icon img{
    width: 25px;
    padding: 0 10px;
    cursor: pointer;
}

/* USER */
.userManagement{
    border-collapse: collapse;
    font-size: 15px;
}

.userManagement td, .userManagement th{
    padding: 10px 60px;
}

.userManagement th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.userManagement td img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.delete{
    cursor: pointer;
}

/* PROFILE ADMIN */
.profileAdmin{
    display: flex;
    gap: 100px;
}

.profileAdmin .content input{
    width: 500px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}

.profileAdmin .content .button{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.profileAdmin .content .button button{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.profileAdmin .content .button button:nth-child(1){
    color: rgb(255, 255, 255);
    background-color: rgb(65, 175, 167);
}

.profileAdmin .avatar img{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border-radius: 50%;
    object-fit: cover; 
    cursor: pointer;
}


