/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.navbar .logo img{
    width: 50px;
}

.navbar .profile img{
    width: 30px;
}

/* SIDEBAR */
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 50px;
}

.sidebar .sidebarItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    gap: 10px;
}

.sidebar .sidebarItem img{
    width: 30px;
}

.sidebar .sidebarItem p{
    color: rgb(0, 0, 0);

}

.dashboard{
    display: flex;
}

.post{
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    max-width: 1000px;
    padding: 30px 50px;
    margin: 20px 30px;
    background-color: rgb(255, 255, 255);
}

.post .postItem{
    color: rgb(128, 128, 128);
    font-family: monospace;
    font-size: large;
}

.post .postItem input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: rgb(128, 128, 128);
    outline: none;
    border: 1px solid rgb(128, 128, 128);
    padding-left: 20px;
}

.post .postItem textarea{
    resize: none;
    width: 95%;
    border-radius: 20px;
    padding: 30px 20px;
    height: 100px;
    outline: none;
    border: 1px solid rgb(128, 128, 128);
}

.post .thumbnail img{
    width: 80px;
    margin: 50px 30px;
    cursor: pointer;
}

.post button{
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s;
}

.active-button{
    background-color: rgb(65, 175, 167);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

